body{
	margin-top: 100px;
}
.form-info{
	border-radius: 10px;
	margin-top: 50px;
	padding: 40px;
	-webkit-box-shadow: 10px 10px 20px 10px gray;
	-moz-box-shadow: 10px 10px 20px 10px gray;
	box-shadow: 10px 10px 20px 10px gray;
}

#transection{
	display: none;
}

.deposit{
	background-color: slateblue;
}

.withdraw{
	background-color: lightsalmon;
}

.balance{
	background-color: orange;
}

.status{
	margin: 0 20px;
	color: #fff;
	padding: 20px;
	border-radius: 10px
}